/*This is a really boring stylesheet, especially considering it was my
first time using both CSS Keyframes and SASS.

Materialized just has so much baked in, there isn't a whole heap of
extra styling needed, even media queries are only minor fixes.
This design doesn't feel too 'Google-y', which was a major goal, but it still
has some recognizable traits - cards and animations to name two offenders.

*/
@import "materialize";
// ------------------------- TYPOGRAPHY -------------------------

h1, h2, h3, h4, h5 {
    font-family: 'Lora', serif;
}

h5 {
    font-style: italic;
}

p {
    font-family: 'Raleway', sans-serif;
}

a {
    color: $secondary-color !important;
}

hr {
   margin: 0;
}

.caption > * {
    background-color: rgba(25, 25, 25, .6);
    padding: 1rem;
    text-align: center;
}

.call-to-action-text {
    position: absolute;
    color: $primary-color;
}

// ------------------------- HERO & SLIDE LOGO -------------------------
.hero {
    margin-bottom: 0;
    padding: 0;
}

#main-logo-background {
    background-color: $primary-color;
    margin: auto;
    height: 300px;
}

#main-logo-fill-svg {
    position: absolute;
    fill-opacity: 0;
}

@keyframes fadeInFill {
    from {
        fill-opacity: 0;
    }
    to {
        fill-opacity: 1;
    }
}

#main-logo-outline-svg {
    fill: none;
    stroke: black;
    stroke-width: .5px;
}

.main-logo {
    margin: auto;
    position: relative;
    z-index: 5;
    width: 440px;
    height: 44px;
}

//  ------------------------- NAVBAR -------------------------
#slide-out {
    background: linear-gradient(to bottom, white 0%, #e0e0e0 100%);
    text-align: center;
}

.button-collapse{
    margin: 15px !important;
}

.pushpin-nav {
    z-index: 5;
}

#sidenav-overlay {
    z-index: 6;
}

.sidenav-logo {
    padding: 1.5rem;
    width: inherit;
    opacity: .4;
}

.sidenav-navigation-item {
    text-align: center;
}

.navbar-logo-wrapper {
    width: 100%;
    position: inherit; //A great little trick to get the logo centred.
}

#menu-icon {
    display: none;
}

.navbar-logo {
    width: 250px;
    display: none;
    opacity: .2;
    margin: auto !important;
    //transition: all 2s ease; This doesn't work and it's killing me.

}

/*
Pushpin works by adjusting the position of the navbar when
a certain scroll point is reached. It does so by applying
three different classes at different stages, which can be modified.
Because the navbar goes from being statically positioned to fixed,
it leaves the normal document flow and everything below it 'jumps up'
to fill the space. From what I can gather, this is unavoidable -
unless the navbar is positioned outside the flow to begin with.
 */
.pin-top {
    position: absolute;
    top: 476px !important;
}

.pin-bottom {
    display: none;
}

#rings-title, #collections-title{
    transition: all 1s ease;
    display: none;
    color: $secondary-color;
}

//  ------------------------- CARDS & CONTENT -------------------------

.contentrow {
    margin-bottom: 0;
    padding-left: .75rem;
    padding-right: .75rem;
}

.jsHoverTarget {
    display: none;
    position: absolute;
    margin: 0;
    background-color: #f5f5f5; //$brown lighten-2
}

//This accounts for the fact that the rings aren't centered in the pictures
.ring-card {
    padding-bottom: 20px;
    overflow: hidden;
}

.card-reveal {
    background: linear-gradient(to bottom, white 0%, #e0e0e0 100%);
}

.brown > .row > .card {
    margin-bottom: 0;
}

.spacer {
    height: 40px;
}

/*Sloppy, but the .m10 class is only used in two
specific instances
*/
.m10 {
    padding: .75rem !important;
}

.call-to-action {

}

.slider .indicators .indicator-item.active {
    background-color: $secondary-color; //$blue-grey
}

.floating-footer {
    height: 300px;
    background-color: $primary-color;
}

.footer-container{

}

.footer-icon{
    padding:2.3rem;
    height: 40px;
}
.footer-text{
    position: absolute;
    bottom: 0;
    margin: 2.3rem;
}

.footer-links {
    float: right;
    clear: both;
    margin-top: -20px;
    margin-right: 2.3rem;
}

.footer-navigation-item {
    text-align: right;
}

.footer-logo{
    padding: 2.3rem;
    width: 200px;
    float: right;
}

//  ------------------------- MEDIA QUERIES -------------------------
//SASS WOOOOOOOOOOO

@media screen and (max-width: 1185px){ //Fix card Typography
    .card-reveal {
        padding: 15px !important;
        h5 {
            margin-top: 0 !important;
            font-size: 1.3rem;
        }
        p {
            margin-top: 10px !important;
            margin-bottom: 0 !important;
        }
    }
}


@media screen and (max-width: 740px){ //Fix card Typography
    .card-reveal > p{
        line-height: 1 !important;
    }
}

@media #{$medium-only}{ //Fix card Typography
    .card-reveal {
        padding: 15px !important;
        h5 {
            margin-top: 0 !important;
            font-size: 1.3rem;
        }
        p {
            margin-top: 10px !important;
            font-size: .8rem;
            margin-bottom: 0 !important;
        }
    }
}

@media #{$medium-and-down}{
    .main-logo {
        width: 240px;
        height: 35px;
    }
}

@media #{$small-and-down}{
    .contentrow {
        padding-top: .75rem;
    }
    .navbar-logo {
        width: 150px;
        float: right;
        margin-right: 1.75rem !important;
    }
    .sidenav-logo{
        width: 150px;
    }
    .spacer {
        height: 20px;
    }
    .hero {
        height: 300px;
    }
    .floating-footer {
        height: 150px !important;
    }
    .pin-top {
        top: 264px !important;
    }
    #main-logo-background {
        height: 100px !important;
    }
    .main-logo {
        width: 215px;
        height: 15px;
    }
    //SASS WOOOOOOOOOOO
    .call-to-action-text {
        left: 20px !important;
        * {
            font-size: 2rem;
        }
        h5 {
            display: none;
        }
    }
    .footer-links {
        display:none;
    }
    }
